<!DOCTYPE HTML>
<html>
<head>
    <title>환영합니다!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--bootstrap ver3.3.2-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--/.bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />

</head>
<body>
    <header id="header" class="alt">
        <div class="inner">
            <h1>TuningHour</h1>
            <p>Served by <a href="http://ec2-13-209-238-146.ap-northeast-2.compute.amazonaws.com/">James Sohn</a></p>
        </div>
    </header>

    <div class="wrap-main-nav">
        <div class="main-nav">
            <!-- Menu desktop -->
                <ul class="main-menu">
                    <li class="main-menu-active">
                        <a href="/">메인</a>
                    </li>

                    <li class="main-menu-active">
                        <a href="/list">게시판</a>
                    </li>
                </ul>
        </div>
    </div>