<!DOCTYPE HTML>
<html>
<head>
    <title>아주 멋진 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--bootstrap ver3.3.2-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--/.bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />

</head>
<body>
    <header id="header" class="alt">
        <div class="inner">
            <h1>TuningHour</h1>
            <p>Served by <a href="http://ec2-13-209-238-146.ap-northeast-2.compute.amazonaws.com/">James Sohn</a></p>
        </div>
    </header>