<!DOCTYPE HTML>
<html>
<head>
    <title>아주 멋진 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--bootstrap ver3.3.2-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--/.bootstrap-->

</head>
<body>