
{{>layout/header}}

    <h1>날래날래 실행되라우 ㅁ니ㅏㅇ러미낭ㄹ</h1>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            </div>
        </div>
    </div><!--/.col-md-12 글 등록 버튼-->

{{>layout/footer}}
